
 .container{
     /* display: grid;
    grid-template-columns: 20% 80%;
    width: 90%;
    grid-column-gap: 10px;
	max-width: 1200px;
    margin: 30px auto;   */
    background: silver
} 

.MenuBar{
    display: grid;
    grid-template-columns: 1fr;
    align-items: top;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
}

/* #profpic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
} */
#email,#web,#phone,#exp,#edu,#people{
    height: 25px;
    width: 25px;
}
#role{
    list-style: disc;
}
a[href]{
    color: black;
    font-style: normal;
}
a:hover{
    color:white;
}
a{
    font-family: 'Kavivanar', cursive;
    font-size: 20px;
    font-style: none;   
}
p,li,legend{
    font-family: 'Lato', sans-serif;
}
h2,dt{
    font-family: 'Open Sans', sans-serif;;
}
ul{
    list-style: none;
}
table,tr,td,fieldset{
    border: 1px solid black;
    border-collapse: collapse;
    justify-content: center;
}
.img-responsive{
    width: 200px;
    height: 200px;
}
