body{
    background: black
}
.cv{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 30px auto;
}
.MenuBar{
    background: purple;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.content{
    background: violet;
}
#profpic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#edu{
    height: 25px;
    width: 25px;
}
a[href]{
    color: black;
    font-style: normal;
}
a:hover{
    color:white;
}
a{
    font-family: 'Kavivanar', cursive;
    font-size: 20px;
    font-style: none;   
}
p{
    font-family: 'Lato', sans-serif;
}
h2{
    font-family: 'Open Sans', sans-serif;;
}
ul{
    list-style: none;
}
